/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2017, 8:50:39 AM
    Author     : dell
*/

   .header{
                height: 100px;
               /*border: 2px solid black;*/
            }
            .menu{
                height: 40px;
                /*border: 2px solid black;*/
                background-color: skyblue;
                color: #fff;
            } 
            .solid{
                height:10px;
               /*border: 2px solid brown;*/
               background-color: brown;
            }
            .slide{
                height: 200px;
                /*border: 2px solid black;*/
            }
            .solid2{
                height: 10px;
                border: 2px solid brown;
                background-color: brown;
            }
            .text{
                height: 30px;
                border: 1px solid black;
            }
            .content{
                height: 300px;
                /*border: 2px solid black;*/
            }
            .con2{
                height: 300px;
                border: 2px solid black;
            }
            .mm{
                height: 50px;
                width: 250px;
                border: 1px solid black;
                text-align: center;
                color: white;
                background-color: red;
                padding-top: 10px;
                font-size: 20px;
            }
            .mm2{
                height: 50px;
                width: 250px;
                border: 1px solid black;
                text-align: center;
                color: white;
                background-color: red;
                padding-top: 10px;
                font-size: 20px;
            }
            .mm3{
                height: 35px;
                width: 500px;
                border: 1px solid black;
                text-align: center;
                font-size: 20px;
            }
            
            
            #topmenu{
                
                height: 60px;
                background-color: rgba(0,0,0,0.8);
            }
            #hero{
                   
                height: 1300px;
                background-color: rgba(100,0,0,0.8);
            }
            
                #myslider{
                   
                height: 200px;
                background-color: rgba(100,130,0,0.8);
            }
            
                #footer{
                   
                height: 100px;
                background-color: rgba(0,40,0,0.8);
            }
            
            #hero img{
                height: 1300px;
                width: 100%;
            }
            #myslider img{
                height: 300px;
                width:100%;
            }
            .navbar-nav li a{
                color:red;
            }
           #navbarDropdownMenuLink{
                color:white;
                font-size: 0.8em;
                font-weight: bold;
                text-transform: uppercase;
            }
            .display-3{
                text-align: center;
            }
            .lead{
                text-align: center;
                line-height: 15px;
                font-family: cursive;
            }
           carousel-item{
                height: 300px;
                width:100%;
            }
            .menu{
                height: 100px;
                border-bottom:2px solid yellow;
               text-align: center;
               padding-top: 20px;
               color:rgba(123,321,213,0.5);
               background-color: blue;
            }
            
            .mybg{
                background-image: url(../images/IMG-20160912-WA0054.jpg);
                background-size: cover;
                color:#fff;
                opacity:0.6;
            }
            
               .myfonts{
                color: blue;
                font-family:cursive;
                font-size: 25px;
            }